force-app/main/default/flows/INFO_Measures_Checker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>200</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Alarm_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalAlarmMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.AlarmID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalAlarmID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Measure_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalMeasure1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Measure_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalMeasure2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Signal_Emitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalEmittedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Signal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Measure1_Threshold_Case</name>
        <label>Create Measure1 Threshold Case</label>
        <locationX>204</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>varNewCase.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Measure 1 Over Threshold!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcMeasure1Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_M1_vs_Threshold</name>
        <label>Check M1 vs Threshold</label>
        <locationX>196</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>M1 Within Threshold</defaultConnectorLabel>
        <rules>
            <name>M1_Over_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSignalMeasure1</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varAssetMeasure1Threshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Measure1_Threshold_Case</targetReference>
            </connector>
            <label>M1 Over Threshold</label>
        </rules>
    </decisions>
    <description>Handling the two Measure scenarios - a threshold and a rapid escalation</description>
    <formulas>
        <name>calcMeasure1Description</name>
        <dataType>String</dataType>
        <expression>&quot;Warning: Asset ID &quot; &amp; {!varAssetID} &amp; &quot; showing a Measure 1 at &quot; &amp; TEXT({!varSignalMeasure1}) &amp; &quot;, placing above nominal threshold set at &quot; &amp; TEXT({!varAssetMeasure1Threshold})&amp; &quot;. Please investigate IMMEDIATELY.&quot;</expression>
    </formulas>
    <interviewLabel>INFO Measures Checker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INFO Measures Checker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Case</name>
        <label>Insert Case</label>
        <locationX>344</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Create_Exception_Record</targetReference>
        </connector>
        <inputReference>varNewCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Exception</name>
        <label>Insert Exception</label>
        <locationX>339</locationX>
        <locationY>596</locationY>
        <inputReference>varExceptionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Measure1_Threshold</name>
        <label>Get Measure1 Threshold</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_M1_vs_Threshold</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>varAssetMeasure1Threshold</assignToReference>
            <field>Measure_1_Threshold__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Measure1_Threshold</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetMeasure1Threshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varExceptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Device_Exception__c</objectType>
    </variables>
    <variables>
        <name>varNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varSignalAlarmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Body from the signal directly sent.</description>
        <name>varSignalAlarmMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Device ID from the signal directly sent.</description>
        <name>varSignalDeviceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DateTime from the signal directly sent.</description>
        <name>varSignalEmittedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>First measure from the signal directly sent.</description>
        <name>varSignalMeasure1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Second measure from the signal directly sent.</description>
        <name>varSignalMeasure2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Signal Type/code from the signal directly sent.</description>
        <name>varSignalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
