force-app/main/default/flows/Multiple_WARNs_Within_Time_Period.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_CaseID_to_Exception</name>
        <label>Assign CaseID to Exception</label>
        <locationX>910</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>varLoopExceptionVariable.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_All_Existing_WARNS_to_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exception_to_Case</name>
        <label>Assign Exception to Case</label>
        <locationX>656</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We&#39;re bad enough to create a new case for this</description>
        <name>Create_New_Case_For_Threshold</name>
        <label>Create New Case For Threshold</label>
        <locationX>140</locationX>
        <locationY>937</locationY>
        <assignmentItems>
            <assignToReference>varNewCase.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constWARNCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign all the values necessary to the Exception in order to add it.</description>
        <name>Create_New_Exception</name>
        <label>Create New Exception</label>
        <locationX>400</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Alarm_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalAlarmMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.AlarmID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalAlarmID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.DeviceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalDeviceID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Measure_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalMeasure1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Measure_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalMeasure2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Signal_Emitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalEmittedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Signal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_WARN_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get the count from the array of warning signals.</description>
        <name>Get_Count_Of_WARNs</name>
        <label>Get Count Of WARNs</label>
        <locationX>142</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>varExceptionArraySize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varPreviousWarningSignals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_WARNs_Above_Threshold</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constWARNCaseSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Proactive - Multiple WARN Signals Received</stringValue>
        </value>
    </constants>
    <constants>
        <description>The number of WARNs within the time limit that constitutes bad times</description>
        <name>constWARNThreshold</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Let&#39;s check to see if we indeed have an open case now</description>
        <name>Check_For_Existing_Case</name>
        <label>Check For Existing Case</label>
        <locationX>362</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Assign_Exception_to_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Case</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_for_Existing_WARNs</targetReference>
            </connector>
            <label>No Existing Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ok, compare the count we got vs the threshold set.</description>
        <name>Check_If_WARNs_Above_Threshold</name>
        <label>Check If WARNs Above Threshold</label>
        <locationX>132</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Create_New_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Below Threshold</defaultConnectorLabel>
        <rules>
            <name>Over_threshold_for_ALARM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExceptionArraySize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>constWARNThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Case_For_Threshold</targetReference>
            </connector>
            <label>Over threshold for ALARM</label>
        </rules>
    </decisions>
    <formulas>
        <description>Calculation for the time limit of &#39;old&#39; unassigned WARN messages to include if there is no existing case.  Based on docs - this is all in minutes, so you should be simply able to subtract 60 from the CurrentDateTime to get our jam.</description>
        <name>calcWARNTimeLimit</name>
        <dataType>DateTime</dataType>
        <expression>{!varExceptionRecord.Signal_Emitted_Date__c} - 60</expression>
    </formulas>
    <interviewLabel>Multiple WARNs Within Time Period {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multiple WARNs Within Time Period</label>
    <loops>
        <name>Assign_All_Existing_WARNS_to_Case</name>
        <label>Assign All Existing WARNS to Case</label>
        <locationX>659</locationX>
        <locationY>1018</locationY>
        <assignNextValueToReference>varLoopExceptionVariable</assignNextValueToReference>
        <collectionReference>varPreviousWarningSignals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CaseID_to_Exception</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_existing_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Insert the newly created case</description>
        <name>Insert_New_Case</name>
        <label>Insert New Case</label>
        <locationX>397</locationX>
        <locationY>936</locationY>
        <connector>
            <targetReference>Assign_All_Existing_WARNS_to_Case</targetReference>
        </connector>
        <inputReference>varNewCase</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Insert the new WARN exception to the database. This is basically the last step regardless of anything going on here.</description>
        <name>Insert_New_WARN_Exception</name>
        <label>Insert New WARN Exception</label>
        <locationX>401</locationX>
        <locationY>608</locationY>
        <inputReference>varExceptionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>If there&#39;s an open WARN Case, we should break the execution and simply add this new event to that Case.</description>
        <name>Query_Existing_WARN_Cases</name>
        <label>Query Existing WARN Cases</label>
        <locationX>273</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Existing_Case</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>constWARNCaseSubject</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varNewCase</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Let&#39;s query the device for any existing WARNs - Specifically of the same Device, but with no existing Case, and created within the last hour.</description>
        <name>Query_for_Existing_WARNs</name>
        <label>Query for Existing WARNs</label>
        <locationX>142</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Count_Of_WARNs</targetReference>
        </connector>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>calcWARNTimeLimit</elementReference>
            </value>
        </filters>
        <object>Device_Exception__c</object>
        <outputReference>varPreviousWarningSignals</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_records</name>
        <label>Update existing records</label>
        <locationX>657</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_Exception_to_Case</targetReference>
        </connector>
        <inputReference>varPreviousWarningSignals</inputReference>
    </recordUpdates>
    <startElementReference>Query_Existing_WARN_Cases</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeviceAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varExceptionArraySize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExceptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Device_Exception__c</objectType>
    </variables>
    <variables>
        <name>varLoopExceptionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Device_Exception__c</objectType>
    </variables>
    <variables>
        <name>varNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varPreviousWarningSignals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Device_Exception__c</objectType>
    </variables>
    <variables>
        <name>varSignalAlarmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Body from the signal directly sent.</description>
        <name>varSignalAlarmMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Device ID from the signal directly sent.</description>
        <name>varSignalDeviceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DateTime from the signal directly sent.</description>
        <name>varSignalEmittedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>First measure from the signal directly sent.</description>
        <name>varSignalMeasure1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Second measure from the signal directly sent.</description>
        <name>varSignalMeasure2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Signal Type/code from the signal directly sent.</description>
        <name>varSignalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
