force-app/main/default/flows/Simple_Case_Alarm_Direct_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Exception_Record</name>
        <label>Assign Exception Record</label>
        <locationX>422</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Alarm_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalAlarmMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.AlarmID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalAlarmID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.DeviceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalDeviceID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Measure_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalMeasure1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Measure_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalMeasure2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Signal_Emitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalEmittedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExceptionRecord.Signal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSignalType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Exception_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ALARM_Case</name>
        <label>Create ALARM Case</label>
        <locationX>127</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>varNewCase.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New ALARM Issued!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Unknown_Case</name>
        <label>Create Unknown Case</label>
        <locationX>359</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>varNewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown Error On ALARM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCase.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_ALARM_Type</name>
        <label>Check for ALARM Type</label>
        <locationX>179</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Create_Unknown_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Type / Unknown Error</defaultConnectorLabel>
        <rules>
            <name>Type_ALARM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExceptionRecord.Signal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALARM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ALARM_Case</targetReference>
            </connector>
            <label>Type ALARM</label>
        </rules>
    </decisions>
    <description>A simple example - structured direct call to the Flow with a signal showing Alarm type of &quot;Urgent&quot;. We will have this flow simply create a case from the device signal sent.</description>
    <interviewLabel>Simple Direct Alarm Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Simple Case Alarm - Direct Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Exception_Record</name>
        <label>Insert Exception Record</label>
        <locationX>584</locationX>
        <locationY>736</locationY>
        <inputReference>varExceptionRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_Case</name>
        <label>Insert New Case</label>
        <locationX>244</locationX>
        <locationY>736</locationY>
        <connector>
            <targetReference>Assign_Exception_Record</targetReference>
        </connector>
        <inputReference>varNewCase</inputReference>
    </recordCreates>
    <startElementReference>Check_for_ALARM_Type</startElementReference>
    <status>Active</status>
    <variables>
        <description>AssetID</description>
        <name>varAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeviceAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varExceptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Device_Exception__c</objectType>
    </variables>
    <variables>
        <name>varNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varSignalAlarmID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Body from the signal directly sent.</description>
        <name>varSignalAlarmMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Device ID from the signal directly sent.</description>
        <name>varSignalDeviceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DateTime from the signal directly sent.</description>
        <name>varSignalEmittedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>First measure from the signal directly sent.</description>
        <name>varSignalMeasure1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Second measure from the signal directly sent.</description>
        <name>varSignalMeasure2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Signal Type/code from the signal directly sent.</description>
        <name>varSignalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
